<!DOCTYPE html>
<html lang="pt-br">
<head> 
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="description" content="Me chamo Otávio Sanchez, sou Desenvolvedor Web, entusiasta de tecnologia, autodidata e apaixonado por código.">
    <meta name="abstract" content="Me chamo Otávio Sanchez, sou Desenvolvedor Web.">
    <meta name="keywords" content="desenvolvedor, web, sites">
    <meta name="rating" content="general">
    <meta name="language" content="pt">
    <meta property="og:title" content="Otávio Sanchez - Desenvolvedor Web">
    <meta property="og:site_name" content="Otávio Sanchez">
    <meta property="og:description" content="Me chamo Otávio Sanchez, sou Desenvolvedor Web, entusiasta de tecnologia, autodidata e apaixonado por código.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="http://otaviosanchez.com/styles/images/otavio-sanchez.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="460">
    <meta property="og:image:height" content="460">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @Styles.Render("~/styles/css")
    <link rel="apple-touch-icon" sizes="57x57" href="styles/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="styles/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="styles/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="styles/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="styles/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="styles/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="styles/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="styles/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="styles/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="styles/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="styles/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="styles/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="styles/favicon/favicon-16x16.png">
    <link rel="manifest" href="styles/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="styles/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
 

    @RenderBody()
 

    @RenderSection("scripts", required: false)
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-85983295-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>
