body {
    width: 100%;
    height: 100%;
    position: absolute;
    color: $color-font;
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
}

@mixin flex-flow($value) {
    -webkit-flex-flow: $value;
    -moz-flex-flow: $value;
    -ms-flex-flow: $value;
    -o-flex-flow: $value;
    flex-flow: $value;
}

.align_auto {
    align-self: auto;
}

.align_flex-start {
    align-self: flex-start;
}

.align_flex-end {
    align-self: flex-end;
}

.align_baseline {
    align-self: baseline;
}

.align_stretch {
    align-self: stretch;
}

.align_h_center {
    align-items: center;
    text-align: center;
}

.align_h_left {
    align-items: flex-start;
    text-align: left;
     &--responsive{
         @extend .align_h_left;
     }
     @media(max-width: $width-desktop){
        &--responsive{
          align-items: center;
    text-align: center;
     } 
     }
}



.align_h_right {
    align-items: flex-end;
    text-align: right;
      &--responsive{
         @extend .align_h_right;
     }
     @media(max-width: $width-desktop){
        &--responsive{
          align-items: center;
    text-align: center;
     } 
     }
}

.display-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.center{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.paragraph {
    font-family: $font-primary;
    color: $color-font;
    line-height: 150%;
    margin-bottom: 10px;
}

.lite{
    color:#ffffff;
}

.container {
    @extend .display-flex;
    @include flex-flow(wrap);
    margin: auto;
    width: 98%;
    max-width: $max-width-container;
    min-width: $min-width-container;
    &--header {
        @extend .container;
        max-width: 99%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


.scroll {
  bottom: 0;
  left: 50%;
  position: fixed;
  z-index: 3;
    transform: translate( -50%,-50%);
  display: block;
}



@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; 
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; 
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; 
}


$breakpoints: ( (xs), (sm, $width-mobile), (md, $width-tablet), (lg, $width-desktop)) !default;
@function convert-col-percent($column-num) {
    @return $column-num / $max-col * 100%;
}

@mixin spacing( $value, $type: margin, $orientation: vertical) {
    @if $orientation==vertical {
        #{ $type }-top: $value;
        #{ $type }-bottom: $value;
    }
    @else {
        #{ $type }-left: $value;
        #{ $type }-right: $value;
    }
}

.#{ $row } {
    box-sizing: border-box;
    display: flex-wrap;
    flex-direction: row;
    flex-wrap: wrap;
    @include spacing( ( -$child), margin, horizontal);
}

%#{ $col } {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    @include spacing( ( $child), padding, horizontal);
}

%#{ $col }-flex {
    @extend %#{ $col };
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

@mixin grid-base( $namespace) {
    .#{ $col }-#{$namespace} {
        @extend %#{ $col }-flex;
    }
    @for $i from 1 through $max-col {
        .#{ $col }-#{$namespace}-#{$i} {
            @extend %#{ $col };
        }
    }
}

@mixin grid-sizes( $namespace) {
    @for $i from 1 through $max-col {
        .#{ $col }-#{$namespace}-#{$i} {
            flex-basis: convert-col-percent($i);
            max-width: convert-col-percent($i);
        }
    }
    @for $i from 1 through $max-col {
        @if ( $i !=$max-col) {
            .#{ $off }-#{$namespace}-#{$i} {
                margin-left: convert-col-percent($i);
            }
        }
    }
}

@each $val in $breakpoints {
    $namespace: nth($val, 1);
    @include grid-base( $namespace);
}

@each $val in $breakpoints {
    @if length($val)==1 {
        $namespace: nth($val, 1);
        @include grid-sizes( $namespace);
    }
    @else {
        $namespace: nth($val, 1);
        $size: nth($val, 2);
        @media only screen and (max-width: #{$size}) {
            @include grid-sizes( $namespace);
        }
    }
}

.load{
    @extend .display-flex;
    align-items: center;
    justify-content: center;
    background-color: $color-secundary;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;

    &__item{       
      width: 250px;
    }

     &__item-a{
        font-family: $font-title;
        font-size: 80px;
        fill: none;
        stroke: $color-primary;
        stroke-dasharray: 150;
        stroke-dashoffset: 150;
         animation: dash 2s linear alternate infinite;
    }

    &__item-b{
        font-family: $font-title;
        font-size: 80px;
        fill: none;
        stroke: #ffffff;
        stroke-dasharray: 250;
        stroke-dashoffset: 250;
        animation: dash 2s linear alternate infinite;
    }

     &__item-c{
        font-family: $font-title;
        font-size: 80px;
        fill: none;
        stroke: $color-primary;
        stroke-dasharray: 150;
        stroke-dashoffset: 150;
        animation: dash 2s linear alternate infinite;
    }

}

@keyframes dash {
 
  to {
    stroke-dashoffset: 0;
  }
}



.menu{
    align-items: center;
    padding-top: 80px;
    background-color: $color-menu;
    position: fixed;
    top:0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 9998;
    &__item{
       display: inline-block;
        list-style: none;
        padding: 5px;
        border: 1px solid $color-secundary;
        margin: 5px;
    }
    &__image{
        width: 50px;
        height: 50px;
    }
}

.menu-open{
    left: -100%;
}

.menu-close{    
    left: 0;
}

.list{
    align-self: flex-start;
    text-align: left;

    &__item{
        display: block;
        padding-top: 10px;
    }
    &__link{
        font-size:2em;
        color:$color-secundary;
        text-decoration: none;
    }
}

.nav{
    &__menu{
        text-align: left;
    }
}

.full {
    min-width: 100%;
    width: 100%;
    height: auto;
    min-height: 100%;    
    flex-flow: row wrap;
    @extend .display-flex;
    justify-content: center;
    &--mobile{
        @extend .full;
    }
}

.social_network {
    display: inline-block;
    list-style: none;
}

.item {
    display: inline-block;
}

.link {
    color: $color-primary;
}

.image {
    width: 100%;
}

.title {
    font-family: $font-title;
    &--sub {
        @extend .title;
        color: $color-secundary;
    }
}

.logo { 
    &__link {
        @extend .link;
        padding-top: 5px;
        font-size: 2em;
        font-family: $font-title;
        color: $color-secundary;
        text-decoration: none;
        opacity: 0;
    }
}

.social_network {
    &__link {
        @extend .link;
        text-decoration: none;
    }
    &__image {
        @extend .image;
        width: 100%;
        height: 100%;
        fill: $color-secundary;
    }
    &__item {
        @extend .item;
        width: 28px;
        height: 28px;
        padding: 3.5px;
        border: 1px solid $color-secundary;
        margin-left: 8px;
    }
}

.button {
    font-family: $font-title;
    padding: 10px 30px 10px 30px;
    color: $color-primary;
    border: 1px solid $color-primary;
    text-decoration: none;
    font-size: 0.7em;
    display: inline-block;
    background-repeat: no-repeat;
    &--main {
        @extend .button;
         color: $color-secundary;
         border: 1px solid $color-secundary;
    }
    &--menu{
            width: 35px;
            height: 35px;
            background-color: transparent;
            background-size: 28px 28px;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            border: 1px solid $color-secundary;
            cursor: pointer;                        
    }
}

.open{
    background-image: url(../images/svg/icon_mobile_menu.svg);
}

.hidden{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    opacity: 0;
}

.close{
     background-image: url(../images/svg/close.svg);
}

.button:hover {
    color: $color-secundary;
    border-color: $color-secundary;
}

.figure {
    width: 100%;
}

.article {
    &--home {
        @extend .display-flex;
        flex-flow: row wrap;
    }
}

.top{
    align-items: center;
    &__header{
        width: 100%;
        position: fixed;
        z-index: 9999;
        background-color: rgba(74, 87, 93, 0);        
    }
}


.home {
    background-color: $color-home;
    position: relative;
    min-width: 100%;
    width: 100%;
    height: 100%;
    flex-flow: row wrap; 
    @extend .display-flex;
    justify-content: center;
    &__group {
        text-align: center;
        align-self: center;
        padding: 7%;
    }
    &__title {
        @extend .title;
        color: $color-primary;
        font-size: 600%;

    }
    @media(max-width:$width-desktop) {
        &__title {
            font-size: 500%;
        }
    }
    @media(max-width:$width-tablet) {
        &__title {
            font-size: 400%;
        }
    }
    @media(max-width:$width-mobile) {
        &__title {
            font-size: 300%;
        }
    }
    &__title--sub{
        color: $color-secundary;
        font-size: 140%;
        margin-top: 10%;
        margin-bottom: 10%
    }
    @media(max-width:$width-desktop) {
          &__title--sub{       
            font-size: 120%;
            margin-top: 30px;
            margin-bottom: 30px;
         }
    }
    @media(max-width:$width-tablet) {
          &__title--sub{
            font-size: 110%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    @media(max-width:$width-mobile) {
          &__title--sub{
            font-size: 100%;
           }
    }
    &__center{
        align-self: center;
    }
    &__article{
        align-items: center;
       @extend .display-flex;
       z-index: 2;
    }
}

.servicos{
    position: relative ;
    overflow:hidden;
    z-index: 2;
    background-color: $color-servicos;
    padding-bottom:5%;
    &__header{
        width: 100%;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;        
    }
    &--bg{
          background-color: $color-servicos;
    }
    &__title{
        @extend .title;
        padding-top: 10px;
        font-size: 1.5em;
        padding-bottom: 10px;
        color: $color-primary;
    }
    &__title--main{           
        @extend .title;
        padding-top: 10px;
        font-size: 1.5em;
        padding-bottom: 10px;
        color: $color-primary;
        text-align: center;
    }
}   

.servico{
    width: 100%;
    padding-top:5%;
}

#servico1{
    opacity: 0;
    position: relative;
    bottom:-50px;
}

#servico2{
    opacity: 0;
     position: relative;
    bottom:-50px;
}

#servico3{
    opacity: 0;
     position: relative;
   bottom:-50px;
}

.sobre {
    position: relative;
    z-index: 2;
    background-color: $color-box;
    height: 100% !important;
    &__figure {
        @extend .figure;
        height: 100%;
        align-self: center;
        position: absolute;
           text-align: center;
    }
    &__header {
        width: 100%;
        background-color: red;
        height: 20%;
        position: relative;
        @extend .display-flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    &__image{
        width: auto;
        height: 100%;
        position: relative;
        bottom: -50%;
    }
}

.projetos{
    position: relative;
    z-index: 2;
    background-color: $color-box;
  
  &__header{
       padding-top: 20px;
       padding-bottom: 20px;
    }

    &__title{
        @extend .title;
        text-align: center;
        padding-top: 10px;
        font-size: 1.5em;
        padding-bottom: 10px;
    }
}

.projeto{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    opacity: 0;
    border-top:1px solid #eeeeee;
}


.contato{
    position: relative;
    z-index: 2;
    background-color: $color-box;
}

.footer{
    align-self: flex-end;
}

.row {
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: center;
    width: 100%;
}

.space{
    padding-top: 10px;
    padding-bottom: 10px;
}

.border{
    border-top: 1px solid hsla(0,0%,100%,.03);
    &--top{
         border-top: 1px solid hsla(0,0%,100%,.1);
    }
}
 
#menu{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#menu-container{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
}