
@{
    ViewBag.Title = "Sobre | Otávio Sanchez";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="load" class="load"></div>

<div id="menu-container" class="menu menu-open"></div>

<header id="header" class="top__header"></header>

<div id="container"></div>

<footer id="footer" class="footer border"></footer>

<script src="~/js/components.min.js"></script>
<script src="~/js/bundleSobre.js"></script>
<script src="~/js/main.min.js"></script>
