
@font-face {
  font-family: 'ADAM-CGPRO';
  src: url('../fonts/ADAM-CGPRO.eot?#iefix') format('embedded-opentype'),  url('../fonts/ADAM-CGPRO.otf')  format('opentype'),
	     url('../fonts/ADAM-CGPRO.woff') format('woff'), url('../fonts/ADAM-CGPRO.ttf')  format('truetype'), url('../fonts/ADAM-CGPRO.svg#ADAM.CGPRO') format('svg');
  font-weight: normal;
  font-style: normal;
}
