@charset "UTF-8";
/* Fonts */
@font-face {
  font-family: 'ADAM-CGPRO';
  src: url(b5012ccc253f5a2e65c36bf884e8fcf3.eot?#iefix) format("embedded-opentype"), url(fe9804f73bf77f70711a9049b67bc9c1.woff) format("woff"), url(cbd8b20d0994da0f69c3f11960f2b51c.ttf) format("truetype"), url(eb655246e32cdfc2af17202d1533474c.svg#ADAM.CGPRO) format("svg");
  font-weight: normal;
  font-style: normal; }

/* App */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* - - Fontes - - */
/* - - Cores - - */
/* Máximo de colunas */
/* Nomenclatura */
/* Width Dispositivos*/
/*Width do container*/
/*Background*/
.ie9 img[src$=".svg"] {
  width: 100%; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width: 100%; } }

body {
  color: #ffffff;
  font-family: "Arial";
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: #1f2229; }

input:focus,
select:focus,
textarea:focus {
  outline: none; }

::selection {
  background: #f26838; }

::-moz-selection {
  background: #f26838; }

.align_auto {
  align-self: auto; }

.align_flex-start {
  align-self: flex-start; }

.align_flex-end {
  align-self: flex-end; }

.align_baseline {
  align-self: baseline; }

.align_stretch {
  align-self: stretch; }

.align_h_center {
  align-items: center;
  text-align: center;
  justify-content: center; }

.align_h_left, .align_h_left--responsive {
  align-items: flex-start;
  text-align: left; }
  @media (max-width: 1200px) {
    .align_h_left--responsive {
      align-items: center;
      text-align: center; } }

@media (max-width: 992px) {
  .order-1 {
    order: 1; }
  .order-2 {
    order: 2; }
  .order-3 {
    order: 3; } }

.align_h_right, .align_h_right--responsive {
  align-items: flex-end;
  text-align: right; }
  @media (max-width: 1200px) {
    .align_h_right--responsive {
      align-items: center;
      text-align: center; } }

.display-flex, .container, .container--body, .container--header, .form, .load, .full, .full--mobile, .article--home, .bar, .home, .home__article, .servico, .sobre, .quem_sou, .carousel {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.center {
  text-align: center;
  align-items: center;
  justify-content: center; }

.paragraph {
  font-family: "Arial";
  color: #ffffff;
  line-height: 150%;
  margin-bottom: 10px; }

.lite {
  color: #ffffff; }

.container, .container--body {
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  -o-flex-flow: wrap;
  flex-flow: wrap;
  margin: auto;
  width: 98%;
  max-width: 1280px;
  min-width: 120px; }
  .container--header {
    -webkit-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    -o-flex-flow: wrap;
    flex-flow: wrap;
    margin: auto;
    width: 100%;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px; }
  .container--body {
    max-width: 960px; }

.form {
  -webkit-flex-flow: wrap;
  -moz-flex-flow: wrap;
  -ms-flex-flow: wrap;
  -o-flex-flow: wrap;
  flex-flow: wrap; }

.textbox, .textbox--mensagem {
  border: 0;
  border-bottom: 1px solid #6d737f;
  color: #6d737f;
  padding: 10px;
  background-color: transparent;
  width: calc(90% -20px);
  display: inline-block;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  margin-bottom: 20px; }
  .textbox--mensagem {
    width: calc(100% -20px);
    height: 80px; }

.textbox:focus, .textbox--mensagem:focus {
  border-bottom: 1px solid #f26838; }

.textbox:hover, .textbox--mensagem:hover {
  border-bottom: 1px solid #f26838; }

.scroll {
  bottom: 0;
  left: 50%;
  position: fixed;
  z-index: 3;
  transform: translate(-50%, -50%);
  display: block; }

.division {
  display: inline-block;
  margin: 20px auto;
  width: 70px;
  height: 1px;
  background-color: #6d737f; }

@keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

/*Safari and Chrome*/
@-webkit-keyframes arrow {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; }

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; }

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; }

.o-row {
  box-sizing: border-box;
  display: flex-wrap;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem; }

.o-col-xs, .o-col-sm, .o-col-md, .o-col-lg, .o-col-xs-1, .o-col-xs-2, .o-col-xs-3, .o-col-xs-4, .o-col-xs-5, .o-col-xs-6, .o-col-xs-7, .o-col-xs-8, .o-col-xs-9, .o-col-xs-10, .o-col-xs-11, .o-col-xs-12, .o-col-sm-1, .o-col-sm-2, .o-col-sm-3, .o-col-sm-4, .o-col-sm-5, .o-col-sm-6, .o-col-sm-7, .o-col-sm-8, .o-col-sm-9, .o-col-sm-10, .o-col-sm-11, .o-col-sm-12, .o-col-md-1, .o-col-md-2, .o-col-md-3, .o-col-md-4, .o-col-md-5, .o-col-md-6, .o-col-md-7, .o-col-md-8, .o-col-md-9, .o-col-md-10, .o-col-md-11, .o-col-md-12, .o-col-lg-1, .o-col-lg-2, .o-col-lg-3, .o-col-lg-4, .o-col-lg-5, .o-col-lg-6, .o-col-lg-7, .o-col-lg-8, .o-col-lg-9, .o-col-lg-10, .o-col-lg-11, .o-col-lg-12 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem; }

.o-col-xs, .o-col-sm, .o-col-md, .o-col-lg {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.o-col-xs-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.o-col-xs-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.o-col-xs-3 {
  flex-basis: 25%;
  max-width: 25%; }

.o-col-xs-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.o-col-xs-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.o-col-xs-6 {
  flex-basis: 50%;
  max-width: 50%; }

.o-col-xs-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.o-col-xs-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.o-col-xs-9 {
  flex-basis: 75%;
  max-width: 75%; }

.o-col-xs-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.o-col-xs-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.o-col-xs-12 {
  flex-basis: 100%;
  max-width: 100%; }

.o-off-xs-1 {
  margin-left: 8.33333%; }

.o-off-xs-2 {
  margin-left: 16.66667%; }

.o-off-xs-3 {
  margin-left: 25%; }

.o-off-xs-4 {
  margin-left: 33.33333%; }

.o-off-xs-5 {
  margin-left: 41.66667%; }

.o-off-xs-6 {
  margin-left: 50%; }

.o-off-xs-7 {
  margin-left: 58.33333%; }

.o-off-xs-8 {
  margin-left: 66.66667%; }

.o-off-xs-9 {
  margin-left: 75%; }

.o-off-xs-10 {
  margin-left: 83.33333%; }

.o-off-xs-11 {
  margin-left: 91.66667%; }

@media only screen and (max-width: 778px) {
  .o-col-sm-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .o-col-sm-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .o-col-sm-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .o-col-sm-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .o-col-sm-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .o-col-sm-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .o-col-sm-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .o-col-sm-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .o-col-sm-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .o-col-sm-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .o-col-sm-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .o-col-sm-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .o-off-sm-1 {
    margin-left: 8.33333%; }
  .o-off-sm-2 {
    margin-left: 16.66667%; }
  .o-off-sm-3 {
    margin-left: 25%; }
  .o-off-sm-4 {
    margin-left: 33.33333%; }
  .o-off-sm-5 {
    margin-left: 41.66667%; }
  .o-off-sm-6 {
    margin-left: 50%; }
  .o-off-sm-7 {
    margin-left: 58.33333%; }
  .o-off-sm-8 {
    margin-left: 66.66667%; }
  .o-off-sm-9 {
    margin-left: 75%; }
  .o-off-sm-10 {
    margin-left: 83.33333%; }
  .o-off-sm-11 {
    margin-left: 91.66667%; } }

@media only screen and (max-width: 992px) {
  .o-col-md-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .o-col-md-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .o-col-md-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .o-col-md-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .o-col-md-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .o-col-md-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .o-col-md-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .o-col-md-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .o-col-md-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .o-col-md-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .o-col-md-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .o-col-md-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .o-off-md-1 {
    margin-left: 8.33333%; }
  .o-off-md-2 {
    margin-left: 16.66667%; }
  .o-off-md-3 {
    margin-left: 25%; }
  .o-off-md-4 {
    margin-left: 33.33333%; }
  .o-off-md-5 {
    margin-left: 41.66667%; }
  .o-off-md-6 {
    margin-left: 50%; }
  .o-off-md-7 {
    margin-left: 58.33333%; }
  .o-off-md-8 {
    margin-left: 66.66667%; }
  .o-off-md-9 {
    margin-left: 75%; }
  .o-off-md-10 {
    margin-left: 83.33333%; }
  .o-off-md-11 {
    margin-left: 91.66667%; } }

@media only screen and (max-width: 1200px) {
  .o-col-lg-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }
  .o-col-lg-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }
  .o-col-lg-3 {
    flex-basis: 25%;
    max-width: 25%; }
  .o-col-lg-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }
  .o-col-lg-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }
  .o-col-lg-6 {
    flex-basis: 50%;
    max-width: 50%; }
  .o-col-lg-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }
  .o-col-lg-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }
  .o-col-lg-9 {
    flex-basis: 75%;
    max-width: 75%; }
  .o-col-lg-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }
  .o-col-lg-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }
  .o-col-lg-12 {
    flex-basis: 100%;
    max-width: 100%; }
  .o-off-lg-1 {
    margin-left: 8.33333%; }
  .o-off-lg-2 {
    margin-left: 16.66667%; }
  .o-off-lg-3 {
    margin-left: 25%; }
  .o-off-lg-4 {
    margin-left: 33.33333%; }
  .o-off-lg-5 {
    margin-left: 41.66667%; }
  .o-off-lg-6 {
    margin-left: 50%; }
  .o-off-lg-7 {
    margin-left: 58.33333%; }
  .o-off-lg-8 {
    margin-left: 66.66667%; }
  .o-off-lg-9 {
    margin-left: 75%; }
  .o-off-lg-10 {
    margin-left: 83.33333%; }
  .o-off-lg-11 {
    margin-left: 91.66667%; } }

.reset {
  padding: 0; }

.load {
  align-items: center;
  justify-content: center;
  background-color: #262a35;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000; }
  .load__item {
    width: 250px; }
  .load__item-a {
    font-family: "ADAM-CGPRO", "Arial";
    font-size: 80px;
    fill: none;
    stroke: #f26838;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: dash 2s linear alternate infinite; }
  .load__item-b {
    font-family: "ADAM-CGPRO", "Arial";
    font-size: 80px;
    fill: none;
    stroke: #ffffff;
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    animation: dash 2s linear alternate infinite; }
  .load__item-c {
    font-family: "ADAM-CGPRO", "Arial";
    font-size: 80px;
    fill: none;
    stroke: #f26838;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: dash 2s linear alternate infinite; }

@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

.link, .logo__link, .social_network__link,
.link:active,
.logo__link:active,
.social_network__link:active,
.link:hover,
.logo__link:hover,
.social_network__link:hover,
.link:visited,
.logo__link:visited,
.social_network__link:visited {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  transition: .5s color ease;
  text-decoration: none;
  color: #f26838;
  text-decoration: none; }

.link:hover, .logo__link:hover, .social_network__link:hover {
  color: #ffffff; }

.link.after:after, .after.logo__link:after, .after.social_network__link:after,
.link.before:before,
.before.logo__link:before,
.before.social_network__link:before {
  content: "";
  transition: .5s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute; }

.link.before:before, .before.logo__link:before, .before.social_network__link:before {
  top: -0.25em; }

.link.after:after, .after.logo__link:after, .after.social_network__link:after {
  bottom: -0.25em; }

.link.after:after, .after.logo__link:after, .after.social_network__link:after,
.link.before:before,
.before.logo__link:before,
.before.social_network__link:before {
  height: 1px;
  width: 0;
  background: #ffffff; }

.link.first:after, .first.logo__link:after, .first.social_network__link:after {
  left: 0; }

.link.second:after, .second.logo__link:after, .second.social_network__link:after {
  right: 0; }

.link.third:after, .third.logo__link:after, .third.social_network__link:after,
a.sixth:after,
a.sixth:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.link.fourth:before, .fourth.logo__link:before, .fourth.social_network__link:before,
a.fourth:after {
  left: 0; }

.link.fifth:before, .fifth.logo__link:before, .fifth.social_network__link:before,
a.fifth:after {
  right: 0; }

.link.seventh:before, .seventh.logo__link:before, .seventh.social_network__link:before {
  right: 0; }

.link.seventh:after, .seventh.logo__link:after, .seventh.social_network__link:after {
  left: 0; }

.link.eigth:before, .eigth.logo__link:before, .eigth.social_network__link:before {
  left: 0; }

.link.eigth:after, .eigth.logo__link:after, .eigth.social_network__link:after {
  right: 0; }

.link.before:hover:before, .before.logo__link:hover:before, .before.social_network__link:hover:before,
a.after:hover:after {
  width: 100%; }

.square {
  box-sizing: border-box;
  margin-left: -0.4em;
  position: relative;
  font-size: 2.5em;
  overflow: hidden; }

.square a {
  position: static;
  font-size: 100%;
  padding: .2em .4em; }

.square:after,
.square:before {
  content: "";
  box-sizing: border-box;
  transition: .25s all ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 5px;
  width: .35rem;
  height: 0;
  background: #ffffff; }

.square:before {
  left: 0;
  bottom: -0.2em; }

.square.individual:before {
  transition-delay: .6s; }

.square:after {
  right: 0;
  top: -0.2em; }

.square.individual:after {
  transition-delay: .2s; }

.square .link:before, .square .logo__link:before, .square .social_network__link:before {
  left: 0;
  transition: .25s all ease; }

.square .link:after, .square .logo__link:after, .square .social_network__link:after {
  right: 0;
  transition: .25s all ease; }

.square.individual .link:after, .square.individual .logo__link:after, .square.individual .social_network__link:after {
  transition: .25s all ease .4s; }

.square:hover:after,
.square:hover:before {
  height: calc(100% + 0.4em); }

.square:hover .link:after, .square:hover .logo__link:after, .square:hover .social_network__link:after,
.square:hover .link:before,
.square:hover .logo__link:before,
.square:hover .social_network__link:before {
  width: 100%; }

.menu {
  align-items: center;
  padding-top: 80px;
  background-color: #1f2229;
  color: #6d737f;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: 9998; }
  .menu__item {
    display: inline-block;
    list-style: none;
    padding: 5px;
    border: 1px solid #6d737f;
    margin: 5px; }
  .menu__image {
    width: 50px;
    height: 50px; }
  .menu__bar {
    background-color: rgba(33, 33, 33, 0.8);
    border-bottom: 1px solid #6d737f;
    position: fixed;
    z-index: 10; }

.menu-open {
  left: -100%; }

.menu-close {
  left: 0; }

.list {
  align-self: center;
  text-align: center; }
  .list__item {
    display: block;
    padding-top: 10px; }
  .list__link {
    font-size: 2em;
    color: #6d737f;
    text-decoration: none; }

.nav {
  text-align: center;
  position: relative;
  z-index: 3; }
  .nav__menu {
    height: 80vh;
    align-items: center;
    justify-content: center; }

.full, .full--mobile {
  min-width: 100%;
  width: 100%;
  height: auto;
  min-height: 110%;
  flex-flow: row wrap;
  justify-content: center; }

.social_network {
  display: inline-block;
  list-style: none; }

.item, .social_network__item, .social_network__item--lite, .footer__item {
  display: inline-block; }

.link, .logo__link, .social_network__link {
  color: #f26838; }

.image, .social_network__image {
  width: 100%; }

.title, .title--sub, .home__title, .servicos__title, .servicos__title--main, .sobre__title, .sobre .item__title, .quem_sou__title, .projetos__title, .contato__title, .content_social__title {
  font-family: "ADAM-CGPRO", "Arial"; }
  .title--sub {
    color: #6d737f; }

.logo__link {
  padding-top: 5px;
  font-size: 2em;
  font-family: "ADAM-CGPRO", "Arial";
  color: #6d737f;
  text-decoration: none;
  opacity: 1; }

.social_network__image {
  width: 100%;
  height: 100%;
  fill: #6d737f; }

.social_network__item {
  width: 28px;
  height: 28px;
  padding: 3.5px;
  border: 1px solid #6d737f;
  margin-left: 8px;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.social_network__item:hover {
  border-color: #f26838;
  background-color: rgba(255, 255, 255, 0.1); }

.social_network__item:first-child {
  margin-left: 0; }

.social_network__item--lite {
  width: 50px;
  height: 50px;
  padding: 20px;
  border: 1px solid #ffffff;
  margin-left: 25px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.social_network__item--lite:hover {
  border-color: #f26838;
  background-color: rgba(255, 255, 255, 0.3); }

.social_network__item--lite:first-child {
  margin-left: 0; }

.button {
  font-weight: 400;
  line-height: 35px;
  max-width: 160px;
  margin: 0 auto 2em;
  position: relative;
  font-family: "ADAM-CGPRO", "Arial";
  color: #f26838;
  text-decoration: none;
  font-size: .7em;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 100%;
  text-align: center; }
  .button--menu {
    width: 35px;
    height: 35px;
    background-color: transparent;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border: 1px solid #6d737f;
    cursor: pointer;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out; }
  .button--menu:hover {
    border-color: #f26838;
    background-color: rgba(255, 255, 255, 0.1); }

.button-1 svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 35px; }

.button-1 rect {
  fill: none;
  stroke: #f26838;
  stroke-width: 2;
  stroke-dasharray: 452, 0; }

.button-1:hover {
  color: #6d737f; }

.button-1:hover rect {
  stroke-width: 5;
  stroke: #6d737f;
  stroke-dasharray: 40, 261;
  stroke-dashoffset: 48;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.button-2 {
  background-color: transparent;
  border: 1px #f26838 solid; }

.button-1--main {
  color: #6d737f; }

.button-1--main:hover {
  color: #f26838; }

.button-1--main svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 35px; }

.button-1--main rect {
  fill: none;
  stroke: #6d737f;
  stroke-width: 2;
  stroke-dasharray: 452, 0; }

.button-1--main:hover rect {
  stroke-width: 5;
  stroke: #f26838;
  stroke-dasharray: 40, 261;
  stroke-dashoffset: 48;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.open {
  background-image: url(54bead806078e598cd4ef3e4d7dbc092.svg); }

.hidden {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 0; }

.visible {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 1; }

.close {
  background-image: url(584304a8828ce9dfa643cefb39a18613.svg); }

.figure, .sobre__figure, .sobre__figure--alter {
  width: 100%; }

.article--home {
  flex-flow: row wrap; }

.bar {
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(25, 29, 38, 0.6);
  bottom: -5%;
  z-index: 1000;
  height: 2%;
  width: 100%;
  text-align: center;
  padding: 10px 0; }

.top {
  align-items: center; }
  .top__header {
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: rgba(35, 39, 48, 0); }

.home {
  background-color: #1f2229;
  position: relative;
  min-width: 100%;
  width: 100%;
  height: 100vh;
  flex-flow: row wrap;
  justify-content: center; }
  .home__group {
    text-align: center;
    align-self: center; }
  .home__title {
    color: #f26838;
    font-size: 600%;
    width: 100%;
    text-align: center; }
  @media (max-width: 1200px) {
    .home__title {
      font-size: 500%; } }
  @media (max-width: 992px) {
    .home__title {
      font-size: 400%; } }
  @media (max-width: 778px) {
    .home__title {
      font-size: 300%; } }
  .home__title--sub {
    color: #6d737f;
    font-size: 140%;
    margin-top: 10%;
    margin-bottom: 10%; }
  @media (max-width: 1200px) {
    .home__title--sub {
      font-size: 120%;
      margin-top: 30px;
      margin-bottom: 30px; } }
  @media (max-width: 992px) {
    .home__title--sub {
      font-size: 110%;
      margin-top: 20px;
      margin-bottom: 20px; } }
  @media (max-width: 778px) {
    .home__title--sub {
      font-size: 100%; } }
  .home__center {
    align-self: center; }
  .home__article {
    align-items: center;
    z-index: 2; }

.servicos {
  position: relative;
  overflow: hidden;
  z-index: 2;
  background-color: #262a35;
  padding-bottom: 5%; }
  .servicos__header {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%; }
  .servicos--bg {
    background-color: #262a35; }
  .servicos__title {
    padding-top: 10px;
    font-size: 1.5em;
    padding-bottom: 10px;
    color: #f26838; }
  .servicos__image {
    height: 100%; }
  .servicos__title--main {
    padding-top: 10px;
    font-size: 1.5em;
    padding-bottom: 10px;
    color: #f26838;
    text-align: center; }

.servico {
  width: 100%;
  padding-top: 5%;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap; }

.servico:nth-child(2) {
  padding-top: 10%;
  padding-bottom: 5%; }

#servico1 {
  opacity: 1;
  position: relative; }

#servico2 {
  opacity: 1;
  position: relative; }

#servico3 {
  opacity: 1;
  position: relative; }

#contatos {
  opacity: 1;
  position: relative; }

#quemsou {
  opacity: 1;
  position: relative; }

.sobre {
  position: relative;
  z-index: 2;
  background-color: #262a35;
  text-justify: center;
  width: 100%;
  padding-top: 5%;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap; }
  .sobre__figure {
    align-self: center;
    text-align: center;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    box-shadow: 0 0 0 4px #232730, 0 0 0 5px #f26838; }
  .sobre .cursos__item {
    list-style: none;
    line-height: 24px; }
  .sobre .cursos__sub {
    list-style: none; }
  .sobre .skills__item {
    background-color: #6d737f;
    color: #ffffff;
    padding: 5px 15px 5px 10px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: .8em;
    font-weight: 600;
    border-radius: 100px; }
  .sobre .skills__nivel {
    border-left: 1px solid #ffffff;
    padding-left: 10px;
    margin-left: 5px;
    color: #f26838; }
  .sobre__figure--alter {
    align-self: center;
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    box-shadow: 0 0 0 4px #232730, 0 0 0 5px #f26838; }
  .sobre__header {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%; }
  .sobre--bg {
    background-color: #262a35; }
  .sobre__title {
    padding-top: 10px;
    font-size: 1.5em;
    padding-bottom: 10px;
    color: #f26838; }
  .sobre__image {
    width: auto;
    height: 100%;
    position: relative; }
  .sobre__row {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center; }
  .sobre__mobile {
    width: 284.736px;
    height: 460.8px;
    background-color: #ffffff;
    display: inline-block;
    margin: auto;
    position: relative;
    border-radius: 3px;
    -webkit-box-shadow: -2px 3px 25px 2px rgba(0, 0, 0, 0.78);
    -moz-box-shadow: -2px 3px 25px 2px rgba(0, 0, 0, 0.78);
    box-shadow: -2px 3px 25px 2px rgba(0, 0, 0, 0.78); }
  .sobre__item {
    width: 100%;
    list-style: none; }
  .sobre .item__title {
    font-size: 120%;
    margin-bottom: 10px;
    color: #f26838; }

.display {
  position: absolute;
  top: 0;
  left: 0;
  width: 96%;
  background-color: #232730;
  color: #ffffff;
  font-size: 12px;
  padding: 2%;
  text-align: center;
  justify-content: center; }

.battery {
  height: 10px;
  width: 30px; }

.hour {
  display: inline-block;
  width: 203.736px;
  line-height: 10px; }

.wifi {
  height: 11px;
  width: 30px; }

.quem_sou {
  flex-wrap: wrap; }
  .quem_sou__title {
    padding-top: 10px;
    font-size: 1.2em;
    padding-bottom: 10px; }

.projetos {
  position: relative;
  z-index: 2;
  background-color: #1f2229; }
  .projetos__header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }
  .projetos__title {
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
    padding-bottom: 10px;
    color: #f26838; }
  .projetos__title--sub {
    text-align: center;
    padding: 10px;
    font-size: 1em;
    color: #6d737f; }
  .projetos__list {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #6d737f;
    -webkit-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    -o-flex-flow: wrap;
    flex-flow: wrap; }
  .projetos__list:last-child {
    border-bottom: 0; }
  .projetos__img {
    width: 100%; }
  .projetos__text {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff; }

.projeto__img {
  width: 100%;
  -webkit-box-shadow: 14px 15px 17px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 15px 17px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 15px 17px -5px rgba(0, 0, 0, 0.75); }

.contato {
  position: relative;
  z-index: 2;
  background-color: #1f2229;
  padding-bottom: 30px; }
  .contato__header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; }
  .contato__title {
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
    padding-bottom: 10px;
    color: #f26838; }
  .contato__title--sub {
    text-align: center;
    padding: 10px;
    font-size: 1em;
    color: #6d737f; }
  .contato__title--info {
    padding-top: 10px;
    font-size: 1.2em;
    padding-bottom: 10px; }
  .contato__text {
    padding-bottom: 10px; }

.footer {
  background-color: #262a35;
  z-index: 1;
  font-size: .9em;
  position: relative;
  align-self: flex-end;
  text-align: center;
  line-height: 24px; }
  .footer__item {
    padding: 15px; }

.row {
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
  text-align: center;
  width: 100%; }

.space {
  padding-top: 15px;
  padding-bottom: 15px; }

.carousel {
  width: 100%;
  position: relative;
  padding-top: 130px;
  padding-bottom: 130px;
  overflow: hidden;
  justify-content: center; }
  .carousel__bg {
    background-color: #1f2229;
    opacity: .9;
    z-index: 2;
    width: 1920px;
    height: 100%;
    display: inline-block;
    position: absolute; }
  .carousel__item {
    width: 243px;
    height: 400px;
    float: left;
    padding: 0;
    margin: 0 auto; }
  .carousel__image {
    width: 100%;
    height: 100%;
    margin-bottom: -4px; }

.ParticlesHome {
  position: absolute;
  width: 100%;
  height: 100%; }

.content_social {
  width: 100%;
  position: relative;
  background-image: url(a32d40722c842f7de50a07ee04fe1932.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  background-color: #1f2229;
  padding-bottom: 30px; }
  .content_social__header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
    z-index: 3; }
  .content_social__title {
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
    padding-bottom: 10px;
    color: #f26838;
    position: relative;
    z-index: 3; }
  .content_social__title--sub {
    text-align: center;
    padding: 10px;
    font-size: 1em;
    color: #6d737f;
    position: relative;
    z-index: 3; }

.overlay {
  background-color: rgba(39, 45, 57, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.slide {
  position: relative;
  left: -100%;
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 9999px;
  padding-bottom: 10px; }

.visor {
  display: block;
  overflow: hidden;
  position: absolute;
  text-align: center;
  justify-content: center;
  top: 73px;
  left: 838px;
  z-index: 3; }

.mobile {
  display: block;
  overflow: hidden;
  position: absolute;
  text-align: center;
  justify-content: center;
  z-index: 3;
  width: 1920px;
  height: 550px;
  background-image: url(e1b81441d37948f2c476b3dd9364e4aa.png);
  background-size: 426px 551px;
  background-position-x: center;
  background-repeat: no-repeat;
  margin-top: -70px; }

.visor .slide {
  display: block; }

.border {
  border-top: 1px solid #1A1D22; }

.border--bottom {
  border-bottom: 1px solid #1A1D22; }

#menu {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

#menu-container {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

#particles {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1f2229; }

#carousel_inner-2 {
  float: left;
  width: 1920px;
  overflow: hidden;
  background: #F0F0F0;
  text-align: center; }

#home__titleNameMain {
  opacity: 1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

#home__titleName {
  opacity: 1;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  -o-transition: all 1.5s ease;
  transition: all 1.5s ease; }

#home__titleSub {
  opacity: 1;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease; }

.fadeOn {
  opacity: 1;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease; }

.welcome {
  font-family: "Arial";
  width: 100px;
  font-size: 30px;
  display: inline-block;
  color: #6d737f;
  padding-bottom: 2px;
  border-bottom: 1px solid #6d737f;
  width: auto; }

.opacity {
  -webkit-transition: all 1s ease;
  -moz-transition: all .1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  filter: alpha(opacity=50);
  opacity: .5; }

.hr {
  width: 100%;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #6d737f;
  height: 0; }

.no-opacity {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  filter: alpha(opacity=100);
  opacity: 1; }

.text-welcome {
  width: auto;
  font-size: 16px;
  display: inline-block; }

.blink {
  animation: blinker 1s linear infinite; }

@keyframes blinker {
  50% {
    opacity: 0; } }

.rotate {
  position: fixed;
  background-color: red;
  top: 0;
  left: 0;
  animation: rotater 10s linear infinite; }

@keyframes rotater {
  50% {
    -ms-transform: rotate(360deg);
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Safari */
    transform: rotate(360deg); } }

path {
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }

.bg {
  background-color: #1f2229; }

.data {
  font-size: 80%;
  color: #6d737f;
  list-style: none; }
