
@font-face {
  font-family: 'ADAM-CGPRO';
  src: url('../../styles/fonts/ADAM-CGPRO.eot?#iefix') format('embedded-opentype'), 
	     url('../../styles/fonts/ADAM-CGPRO.woff') format('woff'), url('../../styles/fonts/ADAM-CGPRO.ttf')  format('truetype'), url('../../styles/fonts/ADAM-CGPRO.svg#ADAM.CGPRO') format('svg');
  font-weight: normal;
  font-style: normal;
}
